:root {
    --color--text: #ffffff;
    --color--secondaryText: #c0c0c0;
    --color--highlightText: #ec2f46;
    --color--background: #00030c;
    --color--button: #167bf7;
    --font--primary: "inter";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color--background);
    color: var(--color--text);
    font-family: var(--font--primary);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--color--button);
    text-decoration: none;
    border-radius: 4px;
    padding: 1em;
    color: var(--color--text);
    display: block;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--color--text);
}

.container__aviso {
    font-size: 12px;
    color: var(--color--secondaryText);
}

.container__imagen {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--color--text);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-size: 16px;
    color: var(--color--secondaryText);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descrição {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
    
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
}

.lista__item {
    font-size: 32px;
    color: var(--color--text);
}