:root {
    --color--text: #ffffff;
    --color--secondaryText: #c0c0c0;
    --color--highlightText: #ec2f46;
    --color--background: #00030c;
    --color--button: #167bf7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color--background);
    color: var(--color--text);
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
}

.container__botao {
    background-color: var(--color--button);
    text-decoration: none;
    border-radius: 4px;
    padding: 1em;
    color: var(--color--text);
    display: block;
    
}